@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}
body{
    width: 100%;
}

/* navbar */
#logo {
    width: 231px;
    height: 58px;
}

.container a {
    text-decoration: none;
    color: #1d1d1d;
}

.container{
    height: 80px;
}
.container a span{
    font-size: 44px;
}
.container a #logo-agro{
    color: #03C988;
}
.container a #logo-search{
    color: black;
}
nav {
    position: absolute;
  display: block;
    background: linear-gradient(to right, #DCF7F0 60%, #7580ac);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 80px; 
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    z-index: 999;
    box-shadow: gray 0px 0px 10px 0px ; 
   
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
}

.logo {
    color: #fff;
    font-size: 30px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #1d1d1d;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover {
    /* background-color: #2acad5; */
    border-bottom: 2px solid white;

}


div#illustration {
max-width: 100%;
  margin-top: 30px ;
  display: block;
}

div#illustration  {
  
   display: flex;
   flex-direction: row;
   margin-top: 90px;
    
}
div#illustration .text-animation{
    width: 50%;
}
div#illustration .illustration-animation
{
    width: 50%;
    
}

div#illustration .illustration-animation img
{
    float: right;
width: 600px;
height: 600px;
}


/* animated text */

.text-animation{
    width: 246px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.text-animation .text{
    position: relative;
    color: #4070F4;
    font-size: 50px;
    
    font-weight: 600;
}
.text-animation .text.first-text{
    color: black;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-left: 2px solid #4070F4;
    animation: animate 4s infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}


.information{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(to right, #DCF7F0 60%, #7580ac);
   
}

.phone-illustration img {
    width: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
    margin-left: 145px;
}

/* form */

.form {
    margin: 2rem auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #fff;
  }
  
  .description {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(209 213 219);
  }
  
  .form div {
    display: flex;
    max-width: 28rem;
    margin-top: 1rem;
    column-gap: 0.5rem;
  }
  
  .form div input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255 255 255 );
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
    flex: 1 1 auto;
  }
  
  .form div input::placeholder {
    color: rgb(216, 212, 212);
  }
  
  .form div input:focus {
    border: 1px solid rgb(99 102 241);
  }
  
  .form div button {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: rgb(99 102 241);
    border-radius: 0.375rem;
    border: none;
    outline: none;
  }


  /* footer */

  footer{
    /* position: fixed; */
    bottom: 0;
   
    background: #111;
    /* height: 150px; */
    width: 100vw;
    font-family: "open Sans";
    padding-top: 40px;
    color: #fff;
  }
  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    /* text-transform: capitalize; */
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem  0 3rem 0;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
  }
  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }
  .socials a:hover i{
    color: aqua;
  }
  .footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
  }
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    /* text-transform: capitalize; */
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }